{#
/**
 * @file
 * Default theme implementation for displaying a search index.
 * LUCIDWORKS CHANGED
 * Available variables:
 * - table: The index info table.
 * - description: The index description.
 * - index_progress: The index progress.
 *
 * @see template_preprocess_search_api_index()
 *
 * @ingroup themeable
 */
#}
{% if description %}
  <p class="description">{{ description|nl2br }}</p>
{% endif %}
{{ table }}
